Las subscripciones que son necesarias para el funcionamiento del vertical son las siguientes.

Obsérvese que en el caso de usar el vertical en modo mancomunado habrá que crear este mismo juego de subscripciones en cada uno de los subservicios correspondientes.

{{- range .suscriptions }}
{{- $entity := index .subject.entities 0 }}

### {{.description}}
* **Estado**: Activa
* **Descripción**: {{.description}}
* **Fecha y hora de expiración**: en blanco
* **Segundos entre notificaciones**: en blanco
* **Protocolo**: HTTP
* **URL de notificación**:
    {{- if (contains "lastdata" (lower .description)) }}
    * Entorno Onpremise: http://iot-cygnus:5059/notify
    * Entorno SaaS: http://pro-core-smc-cygnus:5082/notify
    {{- else }}
    * Entorno Onpremise: http://iot-cygnus:5057/notify
    * Entorno SaaS: http://pro-core-smc-cygnus:5080/notify
    {{- end }}
* **Formato de atributos**: normalized
* **Atributos a notificar**: {{ .notification.attrs | join ", " }}
* **Condición**: {{ .subject.condition.attrs | join "," }}
* **Entidades**:
    * ID: `{{ $entity.idPattern }}` (con checkbox de patrón de búsqueda marcado)
    * Type: {{ $entity.type }}
{{- end }}
