{{- define "defaultEntityMapping" -}}
{
  "originalEntityId": {{ .originalEntityId | quote }},
  "newEntityId": {{ .newEntityId | quote }},
  "originalEntityType": {{ .originalEntityType | quote }},
  "newEntityType": {{ .newEntityType | quote }},
  "attributeMappings": []
}
{{- end -}}
{{- define "defaultServicePathMapping" -}}
{
  "originalServicePath": {{ .originalServicePath | quote }},
  "newServicePath": {{ .newServicePath | quote }},
  "entityMappings": [
    {{- range (initial .entityMappings) }}
    {{- include "defaultEntityMapping" . | nindent 4 }},
    {{- end }}
    {{- include "defaultEntityMapping" (last .entityMappings) | nindent 4}}
  ]
}
{{- end -}}
{
  "serviceMappings": [
    {{- define "defaultServiceMapping" }}
    {
      {{- with .originalService }}
      "originalService": {{ . | quote }},
      {{- end }}
      {{- with .newService }}
      "newService": {{ . | quote }},
      {{- end }}
      "servicePathMappings": [
        {{- range (initial .servicePathMappings) }}
        {{- include "defaultServicePathMapping" . | nindent 8 }},
        {{- end }}
        {{- include "defaultServicePathMapping" (last .servicePathMappings) | nindent 8 }}
      ]
    }
    {{- end }}
    {{- range (initial .serviceMappings) }}
    {{- template "defaultServiceMapping" . }},
    {{- end }}
    {{- template "defaultServiceMapping" (last .serviceMappings) }}
  ]
}
