# Vertical {{.name}} {{.subservice}}

El modelo utiliza los siguientes tipos de entidad:
{{ range .entityTypes }}
* **[{{.entityType}}](#referencia-de-campos-{{.entityType|lower}}):** {{ .entityType }}
{{- end }}

{{- $hasCommands := false }}
{{- range .entityTypes }}
{{- range .attrs }}
{{- if (hasPrefix .type "command") }}
{{- $hasCommands = true }}
{{- end }}
{{- end }}
{{- end }}
{{- if $hasCommands }}
Como complemento a este documento, el [documento de comandado](commands.md) explica los distintos tipos de comando en este vertical y su interacción.
{{- end }}
    
# Entidades principales
{{- range .entityTypes }}
{{- $entityType := .entityType }}

## Referencia de campos ({{.entityType}})

NOTA: La columna `longterm` indica si el atributo es susceptible de ser acumulado en vistas longterm, y permite los siguientes valores:

- `modal`: Se añade a la vista longterm el *mode()* del atributo.
- `enum`: Se añade a la vista longterm el *mode()* del atributo, y un contador de cada posible valor.
- `gauge`: Se añade a la vista longterm el *min, max, avg, percentil 50%, stddev y varianza* del atributo.
- `dimension`: Se añade a la vista longterm el atributo, como una columna a agregar.

|Atributo|Tipo|Descripción|Información adicional|Ud|Rango|Longterm|
|--------|----|-----------|---------------------|--|-----|
| id | - | ID de la entidad. | Ejemplo: `{{.entityID}}` | - | - | - |
| type | - | Tipo de entidad. | Valor: `{{.entityType}}` | - | - | - |
{{- $empty := list }}
{{- range .attrs }}
| {{if eq .type "command"}}[{{.name}}](commands.md#comandos-de-{{$entityType|lower}}){{else}}{{ .name }}{{end}} | {{ .type }} | {{ if gt (.description | default $empty | len) 0 }}{{ index .description 0 }}{{ else }}-{{ end }} | {{ if gt (.description | default $empty | len) 1 }}{{ index .description 1 }}{{ else }}Ejemplo: `{{ .value }}`{{ end }} | {{ if gt (.description | default $empty | len) 2 }}{{ index .description 2 }}{{ else }}-{{ end }} | {{ if gt (.description | default $empty | len) 3 }}{{ index .description 3 }}{{ else }}-{{ end }} | {{ with .longterm }}{{.}}{{ end }} {{ with .longtermOptions }}{{ . | join ", " }}{{ end }} |
{{- end }}

Ejemplo de `{{.entityType}}` (en formato NGSIv2):

```json
{
    "id": "{{.entityID}}",
    "type": "{{.entityType}}",
    {{- range .attrs }}
    {{- if .value }}
    "{{.name}}": {
        "type": "{{.type}}",
        "value": {{ if eq .type "Number" }}{{.value}}{{else}}{{.value | quote}}{{end}}
    },
    {{- end }}
    {{- end }}
}
```
{{- end }}

_**Nota**: Aunque se tenga un servicio mancomunado clasificado por el atributo `municipality`, es necesario que los IDs de las entidades sean únicos, es decir, no deben existir activos con el mismo ID aunque pertenezcan a municipios diferentes. El motivo es que en el CB se debe tener el último estado de todas las entidades. En el caso de que haya IDs que se repitan, una posible solución sería añadirle el prefijo del municipio. Ejemplo: `lamoraleja-001`, `almedijar-001`, etc._
