# Descripción del modelo del vertical de {{.name}}

![Esquema DB]({{.name}}_vertical.png)

(Fuente: extracción de diagrama desde entorno de lab servicio {{.subservice}} con [DBWeaver](https://dbeaver.io))

## Inicialización de la base de datos

Es necesario ejecutar el script de las DDLs.

Para ello podemos utilizar el siguiente comando de psql (CLI para PgSQL):

**Notas**:

- Se incluye una selección de flags como ejemplo, algunas podrían no ser necesarias o podrían faltar otras, dependiendo del entorno.

- La flag `-f` indica la ubicación del script con las DDLs para el vertical. Esto es un ejemplo y puede variar según el entorno, es necesario conocer previamente
  donde se ubica el script deseado.

`psql -h mi_host -p mi_puerto -d mi_db -U mi_usuario -f {{.name}}-vertical/model/db/ddls.sql -v target_schema=esquema -v duration="20 days"`

Donde:

- `f` indica la ubicación del script con las DDLs para el vertical. Esto es un ejemplo y puede variar según el entorno, es necesario conocer previamente donde se ubica el script deseado.
- `target_schema` es la variable que define el esquema de destino de las diferentes tablas, el valor de la misma formará parte del nombre de otros elementos como índices, claves primarias, etc. De forma que sea más fácil identificar a qué esquema/servicio pertenecen.
- `duration` indica la duración de las vistas filtradas de lastdata. Ejemplo: "20 days"

En caso de tener un servicio **mancomunado**, donde un varios municipios pueden compartir los mismos paneles de urbo2 dentro del mismo servicio, pero cada uno con sus datos, existen dos opciones:

1. Si el número de municipios es reducido y para cada uno de ellos se quiere utilizar tablas y vistas independientes, habría que ejecutar el script de la siguiente manera:

`psql -h mi_host -p mi_puerto -d mi_db -U mi_usuario -f {{.name}}-vertical/model/db/ddls.sql -v target_schema=esquema -v duration="20 days" -v scope=mi_municipio`

`scope` identificará al municipio y creará un prefijo en las tablas (y claves primarias) de tal manera que cada municipio tenga sus propias tablas y vistas propias del vertical

En aquellos casos que se necesiten más niveles de anidamiento (e.g. comunidad autonoma/provincia/municipio/vertical) bastará con definir la variable scope como una concatenación de los niveles que se quieran meter (e.g. scope=leon_molinaseca)

2. En el caso de tener un número elevado de municipios, como en el caso de las Diputaciones, se recomienda provisionar el modelo de datos sin `scope` y filtrar la información a través del campo `municipality`. Cabe notar que esta opción también facilita la configuración de un scope global que pueda acceder a los datos de todos los municipios o incluso a una lista concreta de ellos.

## Descripción de las tablas

El vertical se compone de las siguientes tablas en el datasource PostgreSQL:

{{- $vertical := .name | lower }}
{{ range .entityTypes }}
- {{ $vertical }}_{{ .entityType | lower }}: : Recopila la información recibida por las entidades de tipo `{{.entityType}}`.
- {{ $vertical }}_{{ .entityType | lower }}_lastdata: Recopila **solo** los últimos datos recibidos por las entidades de tipo `{{.entityType}}`.
{{- end }}
{{ $materialized := 0 }}
{{- range .views }}
{{- if .materialized }}
{{- $materialized = 1 }}
{{- end }}
{{- end }}
{{- if $materialized }}

## Ejecución del script mv.sql

El script sirve para crear una vista materializada con los agregados de todos los campos que interesa almacenar de la entidad. Este script es necesario para la funcionalidad de long-term.
Para ello es necesario ejecutar el script de la siguiente manera:

`psql -h <host> -p <port> -d <database> -U <user> -f {{.name}}-vertical/model/db/mv.sql -v target_schema=<schema>`

donde:
  - host: host donde se encuentra el servidor de base de datos
  - port: puerto donde esta levantado el servicio de base de datos
  - user: usuario que ejecuta el script
  - database: base de datos donde se crearán las vistas materializadas
  - target_schema: esquema sobre el que se crearán las vistas materializadas

## Ejecución del script pgcron.sql

El script sirve para incluir el refresco de las vistas materializadas en la programación de postgres, siempre que esté habilitada la extensión pg_cron.
Para ello es necesario ejecutar el script de la siguiente manera:

`psql -h <host> -p <port> -d pg_cron -U <user> -f pg_cron.sql -v target_database=<target_database> -v target_schema=<target_schema> -v target_username=<target_username> -v schedule=<schedule>`

donde:
  - host: host donde se encuentra el servidor de base de datos
  - port: puerto donde esta levantado el servicio de base de datos
  - user: usuario que ejecuta el script pg_cron.sql
  - target_database: base de datos sobre la que se ejecutará la programación
  - target_schema: esquema sobre el que se ejecutará la programación
  - target_username: usuario que ejecutará la programación
  - schedule: programación del trabajo. Tendrá un formato estilo cron (e.g. '0 1 * * *') 
{{- end }}
